/* ::ng-deep .card{
    background-color: WhiteSmoke;
}

::ng-deep .card-header{
    background-color: White;
}

::ng-deep .card-header a{
    color: dimgray;
    font-size: 150%;
}

::ng-deep .card-body{
    background-color: WhiteSmoke;
} */
.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 0;
}

.border {
    padding: 40px 30px 40px 30px;
    min-height: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(245,245,245);
    border-color: rgba(245,245,245,0.8);
}


