<!-- <a data-toggle="collapse" data-parent="#accordion" href="{{'#' + box._id}}"  class="btn btn-block btn-outline-danger"> -->
<a class="btn btn-block btn-outline-danger" (click)="show($event)" href="#">
    <p class="panel-title">
        {{box.category}}
    </p>
</a>
<div id={{box._id}} class="hidden">
    <div class="panel-body" [@showContent]="contentShown">
        <div class="flex-container">
            <app-entry *ngFor="let entry of box.recipes" [entry]="entry" [id]="entry._id"></app-entry>
        </div>
    </div>
</div>
