
.flex-container{
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    padding: 2%;
    padding-bottom: 3%;
    z-index: -1;
}

.hidden {
    overflow: hidden;
}

.panel-title {
    font-size: 120%;
}

/* .panel-body {
    overflow: hidden;
} */

@media screen and (max-width: 549px) {
    .panel-title {
        font-size: 100%;
    }
}

.btn-block{
    padding-bottom: 0;
    z-index: 10;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: #d9534f;
}

a:active:hover {
    color: white;
}

a:focus {
    text-decoration: none;
    color: #d9534f;
}

a:focus:hover {
    color: white;
}

a:visited {
    text-decoration: none;
    color: #d9534f;
}

a:visited:hover {
    color: white;
}


  