<!-- Modal -->
<!-- <p [@showModal]="modalShown">hi<br />hi<br />hi</p> -->
<div class="modal-container">
  <div [@showModal]="modalShown" class="modal-back">
      <div class="modal-dialog my-modal" role="document">
            <!-- modal content -->
            <div class="modal-header">
                <button type="button" class="close" (click)="stateChange('inactive')">&times;</button>
                <h4 class="modal-title">{{modalContent.title}}</h4>
            </div>
            <div [ngSwitch]="modalContent.title">
                <ng-container *ngSwitchDefault>
                    <app-default
                    (modalChange)="modalChange($event)"
                    ></app-default>
                </ng-container>
            </div>
            <!-- end of modal content -->
      </div>
    </div>
</div>
