<a href="#" (click)="changeState($event)" class="item" >
    <div [@expand]="contentShown" draggable="cloud === 'added'" >
        <div class="recipe-content">
            <div class="text-center">
                <h4 class="title" [@grow]="contentShown">{{title}}</h4>
                <div class="image-container">
                  <div class="image">
                      <img class="" src="{{getImage(entry.pic)}}" alt="{{entry.title}}" draggable="false"/>
                  </div>
                </div>
            </div>

            <div [@showContent]="contentShown" class="directions">
                <hr />
                <div class="guts">
                    <h4>Ingredients</h4>
                    <ol type="1">
                        <li *ngFor="let ingredient of entry.ingredients">{{ingredient}}</li>
                    </ol>
                    <br />
                    <h4>Directions</h4>
                    <ol type="1">
                        <li *ngFor="let direction of entry.directions"><p>{{direction}}</p></li>
                    </ol>
                    <div class="text-center">
                        <a href="{{entry.href}}" *ngIf="edit === 'original'"><button class="btn btn-link">{{entry.href}}</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</a>
