a {
    margin: 5px 0px 5px 0px;
    text-decoration: none;
    overflow: hidden;
    z-index: -10;
}


img {
    width: 250px;
    /* height: 170px; */
    border-radius: 5%;
}

button {
    margin: 1%;
    margin-top: 2%;
    /* margin-bottom: -10px; */
}

/* .fa-pencil {
    margin-left: 3%;
} */

.image-container {
    padding: 2%;
    border-radius: 5%;
    
    width: 250px;
    height: 170px;
    margin: 0 auto;

    position: relative;
    overflow: hidden;
}

.recipe-content {
    color: dimgray;
    background-color: white;
    border-radius: 10px;
    /* min-width: 350px; */
    padding: 3%;
    min-width: 280px;
    /* max-width: 200px;
    margin: 0 auto; */

    border-width: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    /* margin: 0 auto;
    margin-bottom: 20px; */
    margin: 10px;

    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;
}

.recipe-content:hover {
    color: #373737;
    border-color: #d9d9d9;
    box-shadow: 5px 5px 3px #888888;
}

.image {
    border-radius: 5%;
    width: 250px;
    padding: 1%;
    /* padding: 1%; */
}

.recipe-content .image{
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.recipe-content:hover .image{

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.directions {
    height: "auto";
    overflow: hidden;
    /* width: 100%; */
}

.guts {
    padding: 0px 35px 0px 35px;
    min-width: 250px;
    max-width: 700px;
    margin: 0 auto;
}

.title {
    margin-top: 10px;
    margin-bottom: 5px;
    
}

/* .directions {
    
} */

/* .guts {
    max-width: 500px;
    margin: 0 auto;
} */

.item{
    /* min-width: 350px; */
    margin: auto;
}

.link{
    color: blue;
}

.ingredients-button{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}



@media screen and (max-width: 400px) {
    .recipe-content{
        /* max-width: 250px; */
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    .directions {
        /* max-width: 250px; */
        width: 80%;
    }

    .guts {
        /* max-width: 250px; */
        width: 100%;
    }

    .recipe-content .image {
        width: 70%;
        height: 70%;
        /* height: 150px; */
    }

    .ingredients-button {
        width: 70%;
    }
}

/* .text-center{
    
} */