body {
    margin:0;
    padding:0; 
    position: relative;
    font-family: Georgia, serif;
}

.border-top {
    border-style: double;
    border-width: 0px 0px 6px 0px;
    border-color: white;
}

.border {
    /* padding: 40px 30px 40px 30px;
    min-height: 100%; */
    border-style: solid;
    border-width: 2px;
    border-color: rgb(245,245,245);
    border-color: rgba(245,245,245,0.8);
}

header {
    background-image: url(https://res.cloudinary.com/dhd1eov8v/image/upload/c_scale,w_934/v1506628983/pexels-photo-326278_jrnio3.jpg);
    background-size: cover;
    background-position: center top;
    height: 45vh;
    background-attachment: fixed;
    /* width: 100%; */
    padding: 0px;
    margin: 0px;

    border-style: dotted;
    border-width: 12px;
    border-color: transparent;
}

header h1 {
    color: White;
}

.btn-secondary {
    color: DimGray;
}

.header-content {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    /* width: auto; */
    background-color: rgba(55,55,55,0.6);
    /* padding-top: 10vh; */
}

.btn {
    margin: 1%;
}

@media screen and (min-width: 1001px) {
    header {
        height: 50vh;
    }

    .header-content {
        padding-top: 2vh;
        max-width: 80%;
        /* height: 45vh; */
    }

    .header-content h1 {
        font-size: 380%;
    }

    .btn {
        font-size: 150%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 650px) {
    header {
        height: 45vh;
    }

    .header-content{
        padding-top: 2vh;
        max-width: 80%;
        /* height: 40vh; */
    }

    .header-content h1 {
        font-size: 270%;
    }

    .btn {
        font-size: 120%;
    }
}

@media screen and (max-width: 649px) {
    header {
        height: 45vh;
    }

    .header-content{
        padding-top: 2vh;
        max-width: 549px;
        /* height: 40vh; */
    }

    .header-content h1 {
        font-size: 250%;
    }

    .btn {
        font-size: 100%;
    }
    /* .btn{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 1%;
    } */
}


